{% extends "base.html" %}
{% load staticfiles %}
{% block body %}
<!--banner-->
<div class="container-fluid"  >
    <div class="row">
    <div class='col-md-12 bg-primary' style="background-image:url({% static 'img/abut.jpg' %}); width:100px; height:550px; background-size:100% 100%">
    <div class='row'>
    <div class="col-md-12 " style="background:rgba(0,0,0,0.5);height:550px; "><h1 style="color:white; line-height:500px;text-align:center;font-weight:bold;">ABOUT US</h1>
</div></div></div>
<!----->
      <!--about-->
      <div class='container'>
            <div class='row m-5 pt-5'>
                <div class='col-md-7 pt-5'><h3 style="color:rgb(9, 165, 226);">Welcome To Our Best Fitness Club</h3><br/><br/>
                   <p>In seas is man brought it them that void fill land fourth. All thing air gathering day replenish bearing very. Together first good given firmament moving, night moved moved also them vold land</p>
                   <p>In seas is man brought it them that void fill land fourth. All thing air gathering, days replenish bearing very. Together first good given firmament moving, ni moved are moved also them vold land. Hath creeping subdue he. Fish. Green face whose it be seasons multiply female midst.</p>
                   <a href="#" class="btn  btn-primary mt-4">learn more</a></div>
                 
                 <div class='col-md-5'><img src='{% static "img/about.png" %}' alt=""></div>
            </div>
        </div>
        <!---->
       
{% endblock %}
       