<!DOCTYPE html>
{% load staticfiles%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="shortcut icon" href='{% static "img/logo.png" %}' type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" >
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
    <script src='{% static "jquery.js" %}' ></script>
    <script src="{% static 'js/bootstrap.js' %}" ></script>
    <style>
    .about{
        width:100%;
        height:600px;
        background:url('img/abut.jpg');
        background-size:100% 100%;

    }
    a{
        font-weight:bold;
    }
   
    body{
        font-family:Monotype Corsiva;

    }
   
    </style>
</head>
<body>
<!--nav bar-->
<div class="container-fluid">
<div class="row">
<div class="col-md-3 ">
<h4 style='color:rgb(9, 165, 226); margin:10px; font-family:algerian; font-weight:bold; '>Fitness Store</h4>
</div>
<div class='col-md-9'>
    <nav class='navbar navbar-expand-sm  navbar-dark '>
    <ul class='navbar-nav ml-auto' >
    <li class='nav-item'><a  style="color:rgba(9, 165, 226);" href='{% url "index" %}' class='nav-link'>Home</a></li> 
    <li class='nav-item'><a  style="color:rgb(9, 165, 226);" href='{% url "myapp:about" %}'  class='nav-link'>About</a></li> 
    <li class='nav-item'><a  style="color:rgb(9, 165, 226);" href='{% url "myapp:signup" %}'  class='nav-link'>Signup</a></li>
    <li class='nav-item'><a  style="color:rgb(9, 165, 226);" href='{% url "myapp:contact" %}'  class='nav-link'>Contact</a></li>
</ul>
</nav></div>
</div></div>
<!---->         
{% block body %}
{% endblock %}
 
<!--Footer-->
    <div class="container-fluid">
            <div class="row  mt-5 text-muted" style="background:black;">
                <div class="col-md-4 p-5"><h5 style='color:white;'>FITNESS STORE</h5>
                <p>Give dry stars form us called won't winged had abundantly land Midst appear for you, good fill. Kind isn't form and. Their shall Whose them life be seed them green. </p>
                <span style="color:rgb(11, 105, 143);word-spacing:25px;"><i class="fab fa-facebook-f"></i> <i class="fab fa-twitter"></i> <i class="fab fa-instagram"></i> <i class="fab fa-youtube"></i></span>
            </div>
                <div class="col-md-4 p-5"><h5 style="color:white;">Contact Info</h5>
                <p>Address</br> <span style="color:white;">34,Opt Tower Opposite of Royal Tower, Mohali</span></p>
                <p>Contact Number</br> <span style="color:white;">9876543210, 8776479710</span></p>
                <p>Email Address</br> <span style="color:white;">fitness_store@gmail.com</span></p>
                
                </div>
                <div class="col-md-4 p-5"><h5 style="color:white;">Quick Links</h5>
                    <ul class="list-unstyled list-link">
                        <li><a href='{% url "myapp:about" %}'>About</a></li>
                        <li><a href="#">Terms of Use</a></li>
                        <li><a href="#">Disclaimers</a></li>
                        <li><a href="#">Contact</a></li>
                        <li><a href="{%url  'myapp:logout'%}">Logout</a>
                        </li>
                      </ul>
           </div>
            </div>
        </div>
       

    
</body>
</html>