{% extends "base.html" %}
{% load staticfiles %}
{% block mycode %}
<div class="row">
    <div class="col-md-6 mx-auto p-5 mt-5 bg-light">
        {% if status %}
             <p class="alert alert-{{col}}">{{status}}
                 <a href="{% url 'index' %}">Login again!!</a>
             </p>

        {% endif %}
        {% if status1 %}
        <p class="alert alert-{{col}}">{{status1}}
        </p>
        {% endif %}  
        
        <form action="" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="">Current Password</label>
                <input type="text" class="form-control" name="old" placeholder="Current Password">
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-6">
                        <label for="">New Password</label>
                        <input type="text" class="form-control" name="new" id='p' placeholder="New Password" onkeyup="check()">
                    </div>
                    <div class="col-md-6">
                        <label for="">Re-enter New Password</label>
                        <input type="text" class="form-control" name="rnew" id='cp' placeholder="Re-enter New Password" onkeyup="check()">
                    </div>
                </div>      
            </div>
            <div class="form-group">
                <input type="submit" id='change' class="btn btn-primary btn-sm btn-block" value="Change Password" disabled>
            </div>
        </div>      
    </div>
    <div class="form-group">
        <input type="submit" id='change' class="btn btn-primary btn-sm btn-block" value="Change Password" disabled>
    </div>
</form>
</div>
</div>
<script>
function check(){
pw  = $('#p').val();
cpw  = $('#cp').val();
if(pw==cpw){
$('#p').css('border','1px solid green');
$('#cp').css('border','1px solid green');
$('#change').removeAttr('disabled');
}else{
$('#p').css('border','1px solid red');
$('#cp').css('border','1px solid red');
$('#change').attr('disabled','disabled');
}
}
</script>
{% endblock %}
