
{% extends "base.html" %}
{% load staticfiles %}
{% block body %}

<!--banner-->
<div class="container-fluid"  >
    <div class="row">
    <div class='col-md-12 bg-primary' style="background-image:url({%  static 'img/bnr-cnt.jpg' %}); width:100px; height:550px; background-size:100% 100%">
    <div class='row'>
    <div class="col-md-12 " style="background:rgba(0,0,0,0.5);height:550px; "><h1 style="color:white; line-height:500px;text-align:center;font-weight:bold;">CONTACT US</h1>
</div></div></div>
<!----->
<div class="container-fluid">
<div class="row m-5 p-3">
    <div class="col-md-12 text-center text-primary font-weight-bold"><h1>GET IN TOUCH</h1></div></div>
<div class="row"> 
   
    <div class="col-md-6"><div class="col-md-10 ml-auto">
            {% if status%}
            <h4 class="alert alert-success">{{status}}</h4>
            {% endif %}
        <form action="" method="POST">
                {% csrf_token %}
                <div class="row">
                <div class="col-md-12">
                <input type="text" placeholder="Enter name" name="name" class="form-control"></div>
                <div class="col-md-12"><br/><input type="text" placeholder="Enter Email Address" name="email" class="form-control"></div>
                <div class="col-md-12" ><br/><textarea  id="" cols="15" rows="4" name="message" placeholder="Write Message" class="form-control"></textarea></div>  
                <div class="col-md-12"><br/><button class="btn btn-primary"> Send Message</button> </div> </div> 
        </form>
        </div>
        </div>  
    <div class="col-md-6 ">
        <div class="col-md-10 ml-auto">
        <h3>Contact Details</h3><br/>
        <p><span style="color:skyblue;"><i class="fas fa-map-marker-alt"></i></span>   &nbsp;34,Opt Tower Opposite of Royal Tower, Mohali</p>
        <p><span style="color:skyblue;"><i class="fas fa-phone"></i></span>&nbsp; 9876543210, 8776479710</p>
        <p><span style="color:skyblue;"><i class="fas fa-envelope-square"></i></span> &nbsp;fitness_store@gmail.com</p>
    </div></div>

</div> 
</div>
{% endblock %}
       
