{% extends "base.html" %}
{% load staticfiles%}

{% block body %}

<div class="container-fluid">
    <div class="row">
        <div class='col-md-2  text-light ' style='height:600px; background-image:url({% static "img/dbg.jpg" %});'>
            <div class='col-md-12 py-5 mt-2' style="background: rgba(0,0, 0, 0.6); height:585px;">
                <h4> Welcome {{user}}</h4>
                <p>{{user.email}}</p>
                <p>My Profile</p>
                <p><a href="">Change Profile</a></p>
                <p><a href="{%url  'myapp:logout'%}">Logout</a></p>
            </div></div>
            <div class="col-md-5 ml-5  bg-light" style='height:600px; background-image:url({% static "img/fits1.jpg" %}); background-size:100% 100%;'>
                <div class="col-md-12 p-5 mt-2 text-light " style="background:rgba(0,0,0, 0.7); height:585px;">
                    <h4 style="color:tomato">--Our Avaliable Products Are--</h4><br/>
                    {% for i in all %}
                    <h5><a href="{% url 'myapp:product' %}?cat={{i.category_name}}" class="dropdown-link text-light">{{i.category_name}}</a><br/>
                    </h5>
                   {% endfor %}
                </div>
            </div>
            <div class="col-md-4 ml-5  bg-light" style='height:600px; background-image:url({% static "img/yoga1.jpg" %}); background-size:100% 100%;'>
                <div class="col-md-12 p-5 mt-2 text-light" style="background:rgba(0,0,0, 0.6); height:585px;">
                    <h4 style="color:tomato">--Our Other Services Are--</h4><br/>
                    <p>Yoga Classes</p>
                    <p>Daily Exercise</p>
                    <p>Daith Chat</p>
                </div>
            </div>

            
            
        


        </div>
    </div>
    {% endblock %}




