{% extends "base.html" %}
{% load staticfiles %}
{% block body %}
 <!--slider-->
    <div class="container-fluid">
        <div class='row'>
            <div class='col-md-12'>
                <div class="carousel slide" data-ride="carousel" id="myid">
                    <ul class="carousel-indicators"  >
                        <li class="active" ></li>
                        <li></li><li></li><li></li></ul>
                    <div class="carousel-inner">
                    <div class="carousel-item active">
                    <img src="{% static 'img/s1.jpg' %}" width='100%' height='600px' alt="no image"/>
                    <div class="carousel-caption"><h1 style="">Health is Wealth</h1>
                    <p>In seas is man brought it them that void fill land fourth. All thing air gathering day replenish bearing very. Together first good given firmament moving, night moved moved also them vold land</p>
                    </div></div>
                                
                    <div class="carousel-item"><img src='{% static "img/s2.png" %}' width='100%' height='600px' alt="no image"/><div class="carousel-caption"><h1>Join Fitnezz Today</h1><p>In seas is man brought it them that void fill land fourth. All thing air gathering, days replenish bearing very. Together first good given firmament moving, ni moved are moved also them vold land. Hath creeping subdue he. Fish. Green face whose it be seasons multiply female midst.</p></div></div>
                    <div class="carousel-item"><img src='{% static "img/s3.png" %}' width='100%' height='600px' alt="no image"/><div class="carousel-caption"><h1>Join Fitnezz Today</h1><p>In seas is man brought it them that void fill land fourth. All thing air gathering, days replenish bearing very. Together first good given firmament moving, ni moved are moved also them vold land. Hath creeping subdue he. Fish. Green face whose it be seasons multiply female midst.</p></div></div>
                    <div class="carousel-item"><img src='{% static "img/s4.jpg" %}' width='100%' height='600px' alt="no image"/><div class="carousel-caption"><h1>Health is Wealth</h1><p>In seas is man brought it them that void fill land fourth. All thing air gathering, days replenish bearing very. Together first good given firmament moving, ni moved are moved also them vold land. Hath creeping subdue he. Fish. Green face whose it be seasons multiply female midst.</p></div></div>
                    </div>
                    <a href="#myid" class="carousel-control-prev" data-slide="prev"><span class="carousel-control-prev-icon"></span></a>
                    <a href="#myid" class="carousel-control-next" data-slide="next"><span class="carousel-control-next-icon"></span></a>
         </div>
        </div>
        </div>
     </div>
     <!--about-->
     <div class='container'>
         <div class='row m-5 pt-5'>
             <div class='col-md-7 pt-5'><h3 style="color:rgb(9, 165, 226);">Welcome To Our Best Fitness Club</h3><br/><br/>
                <p>In seas is man brought it them that void fill land fourth. All thing air gathering day replenish bearing very. Together first good given firmament moving, night moved moved also them vold land</p>
                <p>In seas is man brought it them that void fill land fourth. All thing air gathering, days replenish bearing very. Together first good given firmament moving, ni moved are moved also them vold land. Hath creeping subdue he. Fish. Green face whose it be seasons multiply female midst.</p>
                <a href="#" class="btn  btn-primary mt-4">learn more</a></div>
              
              <div class='col-md-5'><img src="{% static 'img/about.png' %} " alt=""></div>
         </div>
     </div>
     <!---->
     <!-- featured classes-->
        <div class="container-fluid">
                <div class='row'>
                        <div class='col-md-12 text-center p-5'><h2 style="color:rgb(9, 165, 226);">Featured Classes</h2></div></div>
            <div class="row">
                <div class='col-md-4 '><img src='{% static "img/img_1.jpg" %}' width='100%' alt=""></div>
                <div class='col-md-4 '><img src='{% static "img/img_2.jpg" %}'width='100%'  alt=""></div>
                <div class='col-md-4 '><img src='{% static "img/img_3.jpg" %}' width='100%' alt="">
                </div>
            </div>
        </div>     
     <!---->
     <!--services-->
     <div class="container-fluid">
        <div class='col-md-12 text-center p-5'><h2 style="color:rgb(9, 165, 226);">OUR SERVICES</h2></div>
      
        <div class="row">
        <div class='col-md-12 bg-primary' style="background-image:url({% static 'img/s1.jpg' %});">
            <div class='row'>
            <div class='col-md-6'></div>
            <div class="col-md-6 text-muted" style="background:rgba(62, 94, 121, 0.3);font-size:15px;padding:100px;">
                <div class='row'>
                <div class="col-md-12"><h3 style="text-align:center;color:white;">OUR SERVICES</h3><br/><br/></div>
                <div class="col-md-2"><img src='{% static "img/serv-icon1.png" %}' alt=""></div>
                <div class="col-md-10"><h5 style="color:white;">Personal Training</h5>
                <p>Two herb creature bearing signs won't void signs eve female every together Thin thiIsnrnyou're every fourth cattle thermal grid line accrose</p>
                </div>
                <div class="col-md-2"><img src='{% static "img/serv-icon2.png" %}' alt=""></div>
                <div class="col-md-10"><h5 style="color:white;">Boxing Training</h5><p>Two herb creature bearing signs won't void signs eve female every together Thin thiIsnrnyou're every fourth cattle thermal grid line accrose</p>
                </div>
                <div class="col-md-2"><img src='{% static "img/serv-icon3.png" %}' alt=""></div><div class="col-md-10">
                <h5 style="color:white;">Fitness Training</h5><p>Two herb creature bearing signs won't void signs eve female every together Thin thiIsnrnyou're every fourth cattle thermal grid line accrose</p>
            </div>
            </div></div></div></div></div></div>
            
 {% endblock %}

   