{% extends "base.html" %}
{% load staticfiles %}
{% block body %}
<!--banner-->
<div class="container-fluid"  >
        <div class="row">
        <div class='col-md-12 bg-primary' style="background-image:url({% static 'img/abut.jpg' %}); width:100px; height:550px; background-size:100% 100%">
        <div class='row'>
        <div class="col-md-12 text-primary " style="background:rgba(0,0,0,0.5);height:550px; "><h1 style="color:white; line-height:500px;text-align:center;font-weight:bold;">Login Or Registration</h1>
    </div></div></div>
<!--log in--> 
<div class="container">
    <div class="row">
        <div class="col-md-12 text-center text-primary mt-5"><h1>LOG IN</h1></div></div>
        <div class="row">
            <div class="col-md-4 mx-auto m-5">
                <form action="" method="post">
                    {% csrf_token %}
                    <input type="text" name="username" class="form-control" placeholder="Username" /><br/>
                    <input type="password" name="password" class="form-control" placeholder="Password" /><br/>
                    <input type="submit" value='Login' class="btn btn-success btn-block mt-2"/>
                </form>
                {% if status %}
                    <script>
                    alert('{{status}}');
                    </script>                                       
                {% endif %}
            </div>
        </div>
        

</div>   
           
    
{% endblock %}
