{% extends "base.html" %}
{% load staticfiles %}
{% load bootstrap4 %}
{% block body %}
<!--banner-->
<div class="container-fluid"  >
    <div class="row">
    <div class='col-md-12 col-sm-12 bg-primary' style="background-image:url({% static 'img/abut.jpg' %}); width:100px; height:550px; background-size:100% 100%">
    <div class='row'>
    <div class="col-md-12 " style="background:rgba(0,0,0,0.5);height:550px; ">
    <h1 style="color:white; line-height:500px;text-align:center;font-weight:bold;">Avaliable Products</h1>
</div></div></div>
<!----->
      <!--about-->
      <div class='container'>
            <div class='row m-5 pt-5'>
                <div class="col-md-12">
                    <h2>Total : {{total}} products</h2>
                </div>
                {% for i in all %}
                <div class="col-md-4">
                    <div class="card">
                        <div class="caed-header"><img src="/media/{{i.photo}}" width="100%" height="200px" alt="" class="card-img"></div>
                        <div class="card-body"><span class="card-text">Product Name:-{{i.product_name}}<br/>
                        Product Category:-{{i.product_category}}<br/>
                        Description:-{{i.description}}

                        <div class="card-footer"><p class="card-text" style=" text-align:center;word-spacing:15px;font-size:20px;"> 
                            <a href=""><i class="far fa-heart"></i></a> 
                            <a href=""><i class="fas fa-eye"></i></a>
                            <a href="login.html"><i class="fas fa-shopping-cart"></i></a></p></div>
                </div>
                </div>
                 </div>  
                 {% endfor %}

        </div>

        </div>
        <!---->
 {% endblock %}
