{% extends "base.html" %}
{% load staticfiles %}
{% load bootstrap4 %}
{% block body %}
<style>
#main{
    background-image: linear-gradient(to bottom right,rgb(245, 71, 216),black);
}
.para{
    color:white;
    margin:40px;
    
}
.lgform{
    display:none;
    margin:60px;
}

</style>

<!--banner-->
<div class="container-fluid"  >
    <div class="row">
    <div class='col-md-12 bg-primary' style="background-image:url({% static 'img/abut.jpg' %}); width:100px; height:550px; background-size:100% 100%">
    <div class='row'>
    <div class="col-md-12 text-primary " style="background:rgba(0,0,0,0.5);height:550px; "><h1 style="color:white; line-height:500px;text-align:center;font-weight:bold;">Login Or Registration</h1>
</div></div></div>

<div class="container ">
    <div class="row mt-5 " id='main'>
        <div class="col-md-5 col-sm-12" style="background-image:url({% static 'img/regg.jpg' %}); background-size:100% 100%;">
        <div class="col-md-12 col-sm-12 p-1 mt-3" style="background:rgba(0,0,0,0.8); width:100%; height:620px;">
         <h2 class="para"> Fitness Store</h2>
         <h4 class="para"> Welcome to our site..... If your are not register then please fill all the details in register form, Otherwise click on<br/><br/>
        <button  id="login" class="btn btn-success">Login</button></h4>
        </div></div>
        <div class="col-md-6 col-sm-12 p-5 mx-auto " style="color:white;" id="registerform"  >
        <form method="post">
            <h1 class='color-primary'>Register</h1>
            {% csrf_token %}
            <div class="row">
            <div class="col-md-6">
                <label>First Name</label>
                <input type="text" class="form-control" name="first_name" /></div>
            <div class="col-md-6">
                <label>Last Name</label>
                <input type="text" class="form-control" name="last_name" /></div></div>
            <label>Username</label>
            <small class='text-danger' id='msz'></small>
            <input type="text" class="form-control" name="username" id='user'/>
            <label>Password</label>
            <input type="Password" class="form-control" name="password" />
            <label>Email</label>
            <input type="email" class="form-control" name="email" />
            <label for="">Address</label>
            <textarea class="form-control" name="address"></textarea>
            <label>Contact Number</label>
            <input type="number" class="form-control" name="contact" /><br/>
            <button class="btn btn-success"  name='signupbtn' id="bt">Register</button>
        </form></div>

        <div class="col-md-5 col-sm-12 mx-auto" >
            <form  method="post" class="lgform" id="loginform" >
            <h2>Login Here</h2><br/>
    
            {% csrf_token %}
            <input type="text" name="username" class="form-control" placeholder="Username" /><br/>
            <input type="password" name="password" class="form-control" placeholder="Password" /><br/>
            <input type="checkbox" class="mt-2" name="rememberme"><span>Remember Me?</span>
            <button type="submit"  id='bt'  name='loginbtn'class="btn btn-success btn-block mt-2">Login</button>
            </form> 
        </div>
        </div>
        </div>
     </div>
 <script>
    $(function(){
        $('#login').click(function(){
        $('#registerform').hide(1000);
        $('#loginform').show();
        });
});
        </script>
        
        
     
{% if status %}
<script>
alert('{{status}}');
</script>
{% endif %}
<script>
   $(function(){
    $('#user').keyup(function(){
        let username = $(this).val();
        $.ajax({
            url:'{% url "myapp:checkuser" %}',
            type:'get',
            data:{usern:username},
            success:function(data){
                $('#msz').html(data);
            }
        })
    });
   });
</script>

   
{% endblock %}

